*{
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: death;
    src: url(death.ttf);
  }

h1{
    margin: 0px;
}

html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#main-grid{
    width: 100vw;
    height: 100px;
    /* background-color: aquamarine; */
    display: grid;
    grid-template: 
    "header header"
    "sticker patch"
    "checkout checkout";
    grid-template-columns: calc(50vw - .5em) calc(50vw);
    grid-template-rows: 15vh calc(75vh - 1em) 10vh;
    text-align: center; 
    grid-gap: .5em 
}


  

#header{
    padding: 1vh;
    font-family: death;
    font-size: 5vh;
    /* text-align: center; */
    grid-area: header;
    background-color: greenyellow;
    
}
#sticker{
    background-image: url("sticker.png");
    background-size: 10vh;
    grid-area: sticker;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    
}

#sticker:hover{
    -webkit-animation: marquee 20s infinite linear;
}

#patch:hover{
    -webkit-animation: marquee 20s infinite linear;
}

@-webkit-keyframes marquee {
    0% {
      background-position: 0;
    }
    /* 33%{
        background-position: 75% 25%
    }
    66% {
        background-position: 25% 75%; 
    } */
    100% {
      background-position: 500% 500%;
    }
  }

#patch{
    background-image: url("gottem.png");
    background-size: 10vh;
    text-align: center;
    grid-area: patch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
}

#checkout{
    grid-area: checkout;
    /* background-color: fuchsia; */
}

#about_section{
    display: none;
}

.add-to-cart {
    display: grid;
    grid-template-areas: 
    "minus number plus";
    margin: 2vh;
    text-align: center; 
    border: none;
    /* background-color: white; */
}

#minus{
    grid-area: minus;  
    text-align: center; 
    width: 100%;    
  
}

#plus{
    grid-area: plus;
    text-align: center; 
    width: 100%;

}
#sticker-count{
    background-color: tomato;
}

#patch-count{
    background-color: magenta;
}

.add-button {
    width: 10%;
    border-radius: 2vh;
    background-color: white;
    border-color: navy;
    cursor: pointer;
    border: .5em solid black;
    font-size: xx-large;
}
.count {
    grid-area: number;
    text-align: center; 
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 2vh;
    line-height: 600%;
    background-color: greenyellow;
    font-size: xx-large;
    /* border: .5em dashed black; */
}

#checkout-button{
    width: 100%;
    height: 100%;
    background-color:cyan;
    border: none;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
    color: navy;
    animation: checkout 4s infinite linear;
}

@-webkit-keyframes checkout {
 0% { background-color: cyan}
 25% { background-color: gold}
 50% { background-color: hotpink}
 75% {background-color: red;}
 100% {background-color: cyan;}
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1em;
    text-align: center;
    font-size: x-large;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    #main-grid{
        width: 100vw;
        height: 100vh;
        /* background-color: aquamarine; */
        display: grid;
        grid-template: 
        "header"
        "sticker"
        "patch"
        "checkout"
        "about";
        grid-template-columns: 100%;
        grid-template-rows: auto 30vh 30vh 15vh 0vh;
        text-align: center; 
        grid-gap: .5em 
    }
    #header{
        font-size: xx-large;
    }
    .add-button{
        font-size: small;
        width: 100%;
        border-radius: 0px;
        border: none;
    }
    .count {
        font-size: small;
        background-color: greenyellow;
        color: black;
        /* border: .3em double black; */
        width: 100%;
        height: auto;
        margin: 0px;
        border-radius: 0px;
    }
    .add-to-cart{
        margin: 0px;
        border-radius: 0px;
    }
    #about_button{
        display: none;
    }
    #about_section{
        display: block;
        height: 1fr;
        background-color: yellow;
        grid-area: about;
    }
  }

